<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.chrtt.repository.mybatis.ProductManageMapper">
    <select id="findAllProducts" resultType="Product">
        select p_id, p_name, p_color, p_price, p_quantity
        from product
    </select>
    <select id="findById" resultType="Product">
        select p_id, p_name, p_color, p_price, p_quantity, p_img
        from product
        where p_id = #{pId}
    </select>
    <insert id="addProduct">
        insert into product (p_name, p_color, p_price, p_quantity, p_img)
        values (#{pName}, #{pColor}, #{pPrice}, #{pQuantity}, #{pImg})
    </insert>
    <update id="updateProduct">
        update product
        set p_name = #{pName}, p_color = #{pColor}, p_price = #{pPrice}, p_quantity = #{pQuantity}, p_img = #{pImg}
        where p_id = #{pId}
    </update>
</mapper>